<div class="d-flex">

  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.submit '検索' %>
  <% end %>
  <%= link_to "新規投稿", new_photopost_path, class: 'btn btn-primary' %>
</div>
<h1 class="text-center mt-4 mb-4">ユーザ一覧</h1>
  <%= render 'users', users: @users %>
  <%= paginate @users %>